.center {
position: relative;
left: 0;
top: 2%;
width: 100%;
text-align: center;
font-size: 36px;

}

#banner {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
width: 100%;
height: 200px;
z-index: -1;

}

#welcomebanner{
    display:none;
}

